/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 12, 2021, 8:25:00 PM
    Author     : lamyahamad
*/
/* *{
     <link href='https://fonts.googleapis.com/css?family=Amiri' rel='stylesheet'>
    font-family: 'Amiri';
}*/
/* just home page  
#headerHome{
    
    background-color:#286B73 ; 
     height:200px ; 
      width:100% ;
     
}
#signout{
float:left;

}
 .homeP{
      align-items: center ;
      margin-left: auto  ; 
      margin-right: auto  ;
      display:  block ; 
      height:200px ; 
      width:200px ;
     
 }
/* all page 
#headerPage{
    
     background-color:#286B73 ; 
  
} 
    
.footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#F4F3F3 ; 
   text-align: center;
  }

 .pageP { 
      
     align-items: center ;
      margin-left: auto  ; 
      margin-right: auto  ;
      display:  block ; 
     height:220px ; 
      width:220px ;

 }*/
/*end format for pages */
#bu{

    margin-left: 37%;

}

/* .bu1{
  
       display: inline-block;
       background-color:#286B73;
       border-radius: 10px;
       border: 4px double black;
       color: white ;
       text-align: center;
       font-size: 20px;
       padding: 20px;
       width: 200px;
       height:80px;
       transition: all 0.5s;
       cursor: pointer;
       margin: 5px;
      
     }
   
*/

.bu1:hover{
    background-color:#EDEBEB;

    left: 0;
    top: 0;
    color:#20B2AA;



}

.who{
    text-align: center;
    color: #296B73;


}
/*
.auth-content {
    position:absolute;
    width: 100%;
    background-color: #CAD5D7;          
    margin: auto;
    color: #296B73;
    padding: 10px 0px 10px 0px;
    text-align: center;
    height: 100% ; 
}*/

#manageJoiningRequest {
    margin-left: auto;
    margin-right: auto;
    font-size:  20px ;
    border-spacing: 30px;
    border: 1px solid black;
}
#JoiningRequestForm{
    font-size:  20px ;
    border-spacing: 30px;
    border: 3px solid black;
}
#ManageTheProfile{
    font-size:  20px ;
    border-spacing: 30px;
    border: 3px solid black;
}
#requestTable {

}
.requestTable { 
    align-items: center ;
}
/*
charity 
*/
p.requestTable{
    font-family: Amiri;
    font-size: 14px;
}

/*.topnav {
    background-color: #2aa7b0;
    overflow: hidden;
}
.h1{
    background-color: #2aa7b0;
   
}
 Style the links inside the navigation bar 
.topnav a {
  font-family: Amiri;
  margin: auto;
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
}*/


/* Change the color of links on hover 
.topnav a:hover {
  background-color:blanchedalmond ;
  color: black;
}
*/
/* Add a color to the active/current link 
.topnav a.active {
  background-color: #2aa7b0;
  color: white;
}*/

/* Right-aligned section inside the top navigation
.topnav-right {
  float: right;
}
#cta.active{
  background-color: red;
  color: white;

}
#cta:hover {
  background-color:blanchedalmond ;
  color: black;
} */